[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
singleton-decorator = "*"
pytest = "*"
python-decouple = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.8"
